/*IMPORTAÇÃO DA FONTE USADA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*VARIÁVEIS DE CORES USADAS*/
:root{
  --color1: rgb(106, 136, 140);
  --color2: rgb(95, 113, 116);
  --color3: rgb(165, 230, 90);
  --color4: rgb(0, 166, 192);
  --color5: rgb(50, 217, 203);
  --color5_1: rgba(50, 217, 203, 0.8);
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /*background-image: linear-gradient(45deg, rgb(26,26, 109), rgb(200, 88, 120));*/
  background-image: linear-gradient(45deg, var(--color5)50%, var(--color4)50%);
}

div.compartilhar_site{
  position: absolute;
  top:10%;
  left: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color1);
  background-color: var(--color3);
  color: var(--color2);
  width:8vw;
  height:8vw;
}

div.compartilhar_site img.icn_comp{
  width: 3.8vw;
}

div.comp{
  position: absolute;
  transition: .35s;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
div.comp button{
  position: absolute;
  top:0;
  right:0;
  width: 20%;
  text-align: center;
  background-color: #db3a3a;
  color: rgb(255,255,255);
  margin: 5vw;
}
div.comp img{
  width: 70%;
}
div.correct_symbol{
  position: absolute;
  top: 0;
  right: 0;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: var(--color3);
  color: var(--color2);
  margin-right: 9vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.error_symbol{
  position: absolute;
  top: 0;
  right: 0;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: var(--color5);
  color: var(--color2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  color: var(--color1);
  font-weight: 200;
  text-align: center;
}

.animation_entrada{
/*ANIMAÇÃO DE ENTRADA*/
  animation-name: backInDown;
  animation-duration: 2s;
}

.animation_correct{
/*ANIMAÇÃO DE ACERTO*/
  animation-name: tada;
  animation-duration: 500ms;
}

.animation_erro{
/*ANIMAÇÃO DE ERRO*/
  animation-name: fadeOutDown;
  animation-duration: 550ms;
}

main{
  background-color: var(--color5_1);
  border: 2px solid var(--color2);
  padding: 7vw;
  border-radius: 4vw;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 10px;
  color: var(--color2);
}
.spnQtd{
  color: var(--color1);
  text-align: end;
}
.answers{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
}
button{
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color4);
  color: var(--color2);
}
.finish{
  display: none;
  flex-direction: column;
  gap: 10px;
  color: var(--color1);
}
.finish button{
  text-align: center;
}